<!--@subject Tu participación al concurso en la tienda on-line de {{var store.getFrontendName()}} @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                <td valign="top"><a href="{{store url=""}}" style="float:left;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a>
                </td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Estimado/a {{var participant.getContestParticipantName()}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Gracias por participar en el concurso "{{var contest.getContestTitle()}}" en la tienda on-line de {{var store.getFrontendName()}}.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                {{if participant.isWinner()}}
                                    <!-- [ Winner ] -->
                                    Felicidades ! Has ganado el premio del concurso " {{var contest.getContestTitle()}} ". Por favor, ponte en contacto con nosotros en <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o llamando al {{config path='general/store_information/phone'}}.
                                {{else}}
                                     Lamentamos comunicarle que esta vez no ha sido agraciado con un premio, pero no deje de intentarlo. Muy pronto habrá nuevos concursos en los que podrás volver a probar suerte.
                                {{/if}}
                            </p>
                         </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Gracias por su confianza. <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
